.mobile_menu{display:none;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#cssmenu ul{margin:0px; padding:0px; list-style:none; position:absolute; top:0px; left:0px; background:rgba(255,255,255,0.94); border-bottom:1px solid rgba(255,255,255,.1);}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{background:#333}
#cssmenu > ul > li{float:left; text-align:center;}
#cssmenu > ul > li > a{font-size: 13px;line-height: 1;text-decoration:none;color:#444444;font-weight:700; padding: 15px 20px; text-align: left; text-transform: uppercase; border-top: 1px solid rgba(255,255,255,.1);}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#444444;}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background-color: rgba(0,0,0,.03) !important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);width:170px;font-size:12px;padding:15px 20px; text-decoration:none;color:#ddd; text-align:left; color: rgb(68, 68, 68);}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:960px){
.mobile_menu{display:block;}
#cssmenu{width:100%; margin-top:76px;}
#cssmenu ul{width:100%;display:none;}
#cssmenu ul li{width:100%;}
#cssmenu ul li:hover{background:#363636;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
#cssmenu > ul > li{float:none;border-bottom: 1px solid rgba(128,128,128,.2);}
#cssmenu ul ul li, #cssmenu ul ul{background:none !important;}
#cssmenu ul ul li:hover{background-color: rgba(0, 0, 0, 0.03) !important; color: rgb(68, 68, 68);}
#cssmenu ul ul li a{color: rgb(68, 68, 68);background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color: rgb(68, 68, 68);}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:-75px;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:3px;width:18px;border-top:3px solid #fff;border-bottom:3px solid #fff;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:3px;width:18px;background:#fff;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:3px;width:18px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:18px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{z-index:9999;right:0;top:0;height:44px;width:46px;cursor:pointer;display:inline-block; margin:0px 0px 0px 15px; position:absolute; top:-2px;}
#cssmenu .submenu-button:before{display:block;content:'\f0d8'; font-family:'FontAwesome', Arial; line-height:44px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center; display:none;}
#cssmenu .submenu-button:after{display:block;content:'\f0d7'; font-family:'FontAwesome', Arial; line-height:44px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center;}
#cssmenu .submenu-button.submenu-opened:before{display:block;}
#cssmenu .submenu-button.submenu-opened:after{display:none;}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
#cssmenu > ul > li.has-sub > a, #cssmenu > ul > li > ul > li.has-sub > a{}

/*  use this if you want to click on full li to click it's sub child  */
/*
#cssmenu .submenu-button{z-index:9999;right:0;top:0;height:100%;width:100%;cursor:pointer;display:block; margin:0px; position:absolute; top:0px; left:0px;}
#cssmenu > ul > li.has-sub > a, #cssmenu > ul > li > ul > li.has-sub > a{padding-left:0px;}
#cssmenu .submenu-button:before{display:none;}
#cssmenu .submenu-button:after{display:none;}
#cssmenu .submenu-button.submenu-opened:before{display:none;}
#cssmenu .submenu-icon{z-index:9999;right:0;top:0;height:0px;width:0px;cursor:pointer;display:inline-block; margin:0px 0px 0px 22px; position:relative; top:-12px; z-index:1;}
#cssmenu .submenu-icon:before{display:block;content:'\f0d8'; font-family:'FontAwesome', Arial; line-height:0px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center; display:none;}
#cssmenu .submenu-icon:after{display:block;content:'\f0d7'; font-family:'FontAwesome', Arial; line-height:0px; font-size:24px; position:absolute; top:0px; width:100%; text-align:center;}
#cssmenu .submenu-icon.submenu-opened:before{display:block;}
#cssmenu .submenu-icon.submenu-opened:after{display:none;}
*/
}