@media only screen and (min-width:959px) and (max-width:1128px) {
	.top_pad { padding-top: 125px !important;}
	.menu_section .logo {  width: 25% !important;}
}
@media only screen and (min-width:1129px) and (max-width:1280px) {
	.owner_detail .panel,.wrapper,.hwrapper{width: 100%; padding: 0px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
	.menu_section .menu {  width: 61%;}
	.menu_section .menu ul li{    padding: 0px 11px;}
	.menu_section .right_pnl {  width: 10%; padding-top: 12px;}
	.menu_section .right_pnl ul { margin-left: 18px;  padding-left: 15px; text-align: center;}
	.menu_section .right_pnl ul li { padding: 0px 3px;}
	.menu_section .right_pnl ul li.search_icon { padding-left: 4px;}
	.blog_panl .blog_left.extra_pad{padding-left: 54px;box-sizing: border-box; -webkit-box-sizing: border-box; moz-box-sizing: border-box;}
	.mobile_menu{display:none;}
	.menu_section .logo {padding-left: 0px; padding-right: 25px;}
	.section .three_pnl{padding-left: 34px;}
	.owner_detail .left_image,.owner_detail .right_image{margin-top: -100px;}
	.owner_detail .middle_content{padding: 0px 28px;}
	.contact_section .form_section .three_col { width: 33.33%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
	.contact_section .form_section .submit{margin-top:15px;}
	.blog_panl .blog_left .blog_two{width:331px;}
}

@media only screen and (min-width:1041px) and (max-width:1079px) {
	.menu_section .menu ul{padding: 0px 28px !important;}
	.menu_section .menu ul li{font-size:10px;}
}

@media only screen and (min-width:1080px) and (max-width:1108px) {
	.menu_section .menu ul{padding: 0px 40px !important;}
	.menu_section .menu ul li{font-size:10px;}
}

@media only screen and (min-width:1109px) and (max-width:1128px){
	.menu_section .menu ul{padding:0px 50px !important}
	.menu_section .menu ul li{font-size:10px;}
}

@media only screen and (min-width:960px) and (max-width:1128px) {
	.wrapper,.hwrapper,.owner_detail .panel{width: 100%; padding: 0px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; moz-box-sizing: border-box;}
	.hwrapper{ padding:0px 15px;}
	.owner_detail .panel{ padding:0px;}
	.contact_section .three_pnl h3{font-size:24px;}
	.menu_section .menu ul li{padding:0px 10px; line-height: 70px; font-size: 13px;}
	.menu_section .menu {  width: 64%;}
	.menu_section .menu ul li.blue_btn a{padding: 10px 8px;}
	.menu_section .right_pnl ul { margin-left: 10px; padding-left: 10px;}
	.menu_section .right_pnl ul li{padding: 0px 4px;}
	.menu_section .right_pnl ul li.search_icon { padding-left: 4px;}
	.menu_section .logo { width: 22%;}
	.top_pad { padding-top: 133px;}
	.menu_section .right_pnl {  width: 11%;}
	.contact_section .contact_left {width:30.8%;}
	.contact_section .form_section { width: 64.4%;}
	.contact_section .form_section .three_col { width: 30.4%;}
	.contact_section { padding:36px 0px;}
	.three_sec .section {  margin-left: -28px;}
	.section .three_pnl { padding-left: 28px;}
	.review_slide .review h4{font-size:35px; line-height: 44px;}
	.owner_detail .left_image ,.owner_detail .right_image{margin-top: -60px;}
	.owner_detail .middle_content { padding: 0px 25px;}
	.mobile_menu{display:none;}
	.blog_panl .blog_left .blog_two{width:290px;}
	
	.blog_panl .blog_left.extra_pad{padding-left: 54px;box-sizing: border-box; -webkit-box-sizing: border-box; moz-box-sizing: border-box;}
	.caldera-grid .form-control input{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.next_more input[type=button]{border-radius: 0px; box-shadow: none;}
	.caldera-grid .form-control{box-shadow: none; -webkit-appearance:none;}
	.blog_panl .blog_left .comment .form input, .blog_panl .blog_left .comment .form textarea{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.menu_section .logo {  padding-right: 18px;  padding-left: 0px;}
	.banner_bottom {  margin-top: -22px;}
	.menu_section .logo { padding-right: 0px; padding-left: 0px;}
	.banner_internal.blog{height: 300px;}
	.contact_section.top_pad { padding: 32px 0px !important;}
	
}

@media only screen and (min-width:960px) and (max-width:959px) {
	.menu_section .menu ul li{font-size: 10px;}
}

@media only screen and (max-width:959px){
	.wrapper,.hwrapper{width: 100%; padding: 0px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
	.menu_section{padding:18px 0px; border-bottom:1px solid rgba(240,245,250,1); top: 0px;height:76.656px;}
	.top_bar{display:none;}
	.light-color .both_pnl { margin-left: 0%;}
	.banner{min-height: 200px;}
	.banner_bottom {margin-top: 0px; padding: 36px 0px;}
	.three_sec {padding: 36px 0px 72px;}
	.banner_bottom .panel_sec { margin-left: 0px;}
	.banner_bottom .panel {width: 100%; float: none; text-align: center;  padding-left: 0px;}
	.three_sec .section {margin-left: 0px;}
	.section .three_pnl {width: 100%; float: left; padding-left: 0px; padding-top: 36px; text-align: center;}
	.section .three_pnl h3{text-align:left;}
	.section .three_pnl img{text-align: center;}
	#cssmenu{margin-top:0px; position: absolute; top: 110px;}
	.testimonial{padding:75px 0px 0px 0px;}
	.testimonial .testi_reviews{width:100%;}
	.top_pad {padding-top: 114px;}
	.contact_section .three_pnl { width: 100%; padding: 0px 0px 0px 0px;}
	.contact_section .form_section{padding-left:0px; width: 100%;}
	.contact_section .form_section .three_col {width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
	.intl-tel-input {width: 100%;}
	.contact_section .three_pnl h3{font-size:24px;}
	.contact_section .form_section .submit input[type=submit]{width:100%;}
	.menu_section .menu,.menu_section .right_pnl{display:none;}
	.menu_section .logo{width:29%; transform:translateX(-50%); left:50%; position:absolute;}
	.button{z-index:99999999; top: -70px !important;}
	.button:before,.button.menu-opened:after,.button.menu-opened:before{background: #2d5068;height: 2px;}
	.button:after{border-top: 2px solid #2d5068; border-bottom: 2px solid #2d5068;  top: 21px;}
	#cssmenu ul{z-index:99999;}
	.button{ top:-45px;}
	#cssmenu > ul > li > a{font-size:12px; color:#78828c;}
	#cssmenu > ul > li{border-bottom:0px; }
	#cssmenu ul li a:hover{color:#2d5068;}
	#cssmenu ul li:hover{ background-color:rgba(0,0,0,.00) !important;}
	#cssmenu > ul > li.blue_btn{border: 1px solid #2d5068; border-radius: 0.25em;}
	#cssmenu > ul > li.blue_btn:hover{background-color: #2d5068 !important}
	#cssmenu > ul > li.blue_btn a{padding: 11px 20px;}
	#cssmenu > ul > li.blue_btn a:hover{color:#fff;}
	#cssmenu > ul > li a i{float:right;}
	#cssmenu > ul > li a:hover i{color:#2d5068;}
	#cssmenu > ul > li.blue_btn a:hover i{color:#fff;}
	.int_content .left_pnl { width: 100%; float:none;}
	.banner_internal{height: 132px;}
	.int_content .right_pnl{ width:100%; float:none; padding-left:0px; padding-top:36px;}
	.lefttext { width: 100%; float: left; padding-left: 0%; text-align: justify;}
	.righttext { width: 100%; float: left; padding-left: 0%; text-align: justify;}
	.leftimage { width: 100%; float: left; padding-left: 0%; }
	.rightimage { width: 100%; float: left; padding-left: 0%;}
	.light-color.white_color .both_pnl h2{ padding: 0px;}
	.light-color.white_color .both_pnl iframe{    padding-left:0px;}
	.review_slide.blue,.review_slide,.owner_detail{display:none;}
	.contact_section .contact_left {  width: 100%;  float: none;}
	.process_pnl .pro_three{ width: 100%; float: none; padding-left:0px;}
	.vacanci_pnl .vac_cont { margin-left: 0px;}
	.vacanci_pnl .two_pnl { width: 100%;float: none; padding-left:0; margin-top:50px;}
	#cssmenu ul{top: 36px;}
	.blog_panl .blog_right { width: 100%; padding: 36px 0px 0px 0px;}
	.blog_panl .blog_left .blog_two { width:50%;}
	.blog_panl .blog_left{width:100%;  margin: 0px;}
	.blog_panl .blog_right.extra_right_pad{padding-left:0 }
	.blog_panl .blog_left .comment .form input[type="submit"]{width: 100%;}
	.caldera-grid .form-control input{border-radius: 0px;}
	.next_more input[type=button]{border-radius: 0px; box-shadow: none;}
	.contact_section .form_section input,.contact_section .form_section textarea{border-radius:0px; box-shadow: none;}
	.contact_section .form_section .submit input[type=submit]{border-radius:0px; box-shadow: none;}
	.caldera-grid .form-control{box-shadow: none;  -webkit-appearance:none;}
	.caldera-grid .form-control input{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.blog_panl .blog_left .comment .form input, .blog_panl .blog_left .comment .form textarea{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.menu_section .logo{padding-right: 0px; padding-left: 0px;}
	.process_pnl .pro_pnl { margin-left: 0px;}
	.vacanci_pnl .two_pnl .box{    text-align: center;}
	.vacanci_pnl .two_pnl .box h3{text-align: left;}
	.contact_section .three-sec {margin-left: 0px; }
	.light-color .both_pnl .left h2{padding-top:10px;}
	.banner_internal.blog{height: 500px;}
	.fix{display:none;}
.contact_section.top_pad {  padding:32px 0px !important;}
	#cssmenu ul {  top: 0px !important;}
}	
@media only screen and (min-width:570px) and (max-width:959px) {
	.owner_detail .panel{width: 100%; padding: 0px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; moz-box-sizing: border-box;}
	.menu_section .logo {  width: 27%;}
	.review_slide.blue, .review_slide, .owner_detail {  display: block;}
	.review_slide .review h4{font-size:24px; line-height: 32px;}
	.owner_detail .left_image{ width: 100%; float: none; margin-top: 0px; text-align: center;}
	.owner_detail .left_image img{padding-top:30px;}
	.owner_detail .right_image{ width: 100%; float: none; margin-top:0px; text-align: center;}
	.owner_detail .middle_content { width: 100%; float:none; padding: 0px 0px;}
	#cssmenu ul {top: 16px;}
	#cssmenu{vertical-align: center}
	.blog_panl .blog_left .blog_two {  width: 48%;}
	.caldera-grid .form-control input{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	#cssmenu ul {  top: 3px;}
.top_pad {  padding-top: 108px !important;}
	.review_slide .swiper-container-horizontal>.swiper-pagination-bullets{ bottom: 0px;}
}

@media only screen and (min-width:720px) and (max-width:760px) {
	.menu_section .logo{width:36% !important;}
}

@media only screen and (min-width:625px) and (max-width:719px) {
	.menu_section .logo{width:40% !important;}
}

@media only screen and (min-width:525px) and (max-width:624px) {
	.menu_section .logo{width:50% !important;}
}

@media only screen and (min-width:481px) and (max-width:524px) {
	.menu_section .logo{width:55% !important;}
}

@media only screen and (max-width:569px){
.hide_img{ display:none;}	
	#cssmenu ul { top: 4px;}
	.blog_panl .blog_left .blog_two { width:100%; padding: 0px;}
	.blog_panl .blog_right { width: 100%; padding: 36px 0px 0px 0px;}
	.blog_panl .blog_left { margin: 0px;}
	.pagination span{display: none;}
	.section .three_pnl .read_more a{max-width:384px;  padding: 8px 0px; font-size: 11px;}
}
@media only screen and (max-width:760px){
	.contact_section .form_section input,.contact_section .form_section textarea{border-radius:0px; box-shadow: none;}
	.contact_section .form_section .submit input[type=submit]{border-radius:0px; box-shadow: none;}
	.caldera-grid .form-control{box-shadow: none;  -webkit-appearance:none;}
		.caldera-grid .form-control input{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.blog_panl .blog_left .comment .form input, .blog_panl .blog_left .comment .form textarea{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.top_pad {  padding-top: 108px;}
	#cssmenu ul { top: -3px;}
	.section .three_pnl .read_more a{max-width:316px;  padding: 8px 0px; font-size: 11px;}
	.banner_internal.blog { height: 300px;}
	.banner_internal table h1{    line-height: 40px;}

}
@media only screen and (max-width:480px){
	.menu_section .logo {width: 59%;}
	.contact_section .form_section input,.contact_section .form_section textarea{border-radius:0px; box-shadow: none;}
	.contact_section .form_section .submit input[type=submit]{border-radius:0px; box-shadow: none;}
	.caldera-grid .form-control{box-shadow: none;  -webkit-appearance:none;}
		.caldera-grid .form-control input{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.blog_panl .blog_left .comment .form input, .blog_panl .blog_left .comment .form textarea{border-radius: 0px; box-shadow: none; -webkit-appearance:none;}
	.top_pad {  padding-top: 108px;}
	#cssmenu ul { top: -3px;}
	.section .three_pnl .read_more a{max-width:316px;  padding: 8px 0px; font-size: 11px;}
	.banner_internal.blog { height: 300px;}
	.banner_internal table h1{    line-height: 40px;}

}

