@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Hind-Bold';
  src: url('../fonts/Hind-Bold.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/Hind-Bold.woff') format('woff'), 
	  url('../fonts/Hind-Bold.ttf')  format('truetype'), 
	  url('../fonts/Hind-Bold.svg#Hind-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{margin:0px; font:100 16px/28px 'Hind Vadodara', sans-serif; font-weight: 100; color: #78828c; -webkit-text-size-adjust: 100%;}
.hwrapper{width: 1208px; margin:0px auto; }
.wrapper{width: 1128px; margin:0px auto; }
.clear{clear:both;}
a{ text-decoration:none; color: #2d5068;}
a:hover{color: #5ea0cf;  text-decoration:none !important;}
img{max-width:100%;}
h1{font-weight: 600;font-family: hind; font-size: 30px; color: #2d5068; }
h2{color:#2d5068; font:600 24px/29px 'hind', serif;}
h3{color: #2d5068; font:600 19px/31px 'hind', serif;}

.top_pad{padding-top:155px;} 
.top_bar{background:#2d5068; border-bottom: 5px solid #AC955C;}
.top_bar ul{margin: 0px; padding: 0px; list-style: none;}
.top_bar ul li{font:300 12px/29px 'Hind Vadodara', sans-serif; text-align: right;}
.top_bar ul li a{color:#ffffff;}
.top_bar ul li a:hover{color: #5ea0cf;}
/*.menu_section.hide-header{transform: translate3d(0px, -155px, 0px); position: fixed; top: 0; width: 100%;}
.menu_section.sticky{top:0;}
.menu_section{background:#fff; padding:27px 0px 25px; border-bottom:1px solid #2d5068; transition:all 0.4s ease; position:fixed; width:100%; top: 29px; transform:translate3d(0px, 0px, 0px);
	z-index:99999999;}*/
.menu_section .logo{width:25.4%; float:left; padding-right:31px; padding-left:40px;}
.menu_section .logo img{width:80%; padding:10px 0px 10px 0px;}
.menu_section .logo a:hover{background-color: transparent;}
/*.menu_section .menu{width:58%; float:left;}
.menu_section .menu ul{margin:0px; padding:1px 0px 0px 4px; list-style: none;}
.menu_section .menu ul li{float:left; padding:0px 18px 0px 14px; font:500 12px 'Poppins', sans-serif;  text-transform:uppercase; line-height:101px; letter-spacing: 0.05em;}
.menu_section .menu ul li.current_page_item a,.menu_section .menu ul li.blue_btn a,#cssmenu ul  li.current_page_item a{color:#2d5068;}
.menu_section .menu ul li a{color: #78828c;}
.menu_section .menu ul li a:hover{color:#2d5068;}
.menu_section .menu ul li.blue_btn{padding:0px;}
.menu_section .menu ul li.blue_btn a{border:1px solid #2d5068; border-radius: 0.25em; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; padding:16px 10px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.menu_section .menu ul li.blue_btn a:hover{background: #2d5068; color: #fff;}
.menu_section .right_pnl{width:10%; float:left;}
.menu_section .right_pnl ul{margin-left:28px; padding-left: 27px;border-left:1px solid #2d5068; list-style: none; line-height: 16px; margin-top: 22px;}
.menu_section .right_pnl ul li{display: inline-block; padding: 0px 7px;}
.menu_section .right_pnl ul li.search_icon{padding-left:26px; padding-right: 0px;}
.menu_section .right_pnl ul li a{color:#78828c;}
.menu_section .right_pnl ul li a:hover{color:#2d5068; }*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
    padding:0px 10px 0px 10px; 
    font:100 12px 'Poppins', sans-serif;
    text-transform:uppercase; 
    letter-spacing: 0.05em;
    text-align: center;
    }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #78828C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #5ea0cf;
    color: white;
  }
    
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: #78828C;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #78828C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #5ea0cf;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: #78828C;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;;
      right: 10px;
      top: 113px;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .schoolscolumn {
    float: left;
    width: 50%;
  }

  .schoolscolumn ul{margin: 0px 40px; padding: 0px;}
  
  /* Clear floats after the columns */
  .schoolsrow:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .schoolscolumn {
    width: 100%;
  }
}

.banner-home{background:center center no-repeat; background-size:cover; min-height: 446px;}
.banner{background:center center no-repeat; background-size:cover; min-height: 446px;box-shadow: inset 10000px 0 0 0 rgba(0, 0, 0, 0.4);}
.banner .title { 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.banner .title h1 {
  color: white;
  font-size: 40px;
}

@media screen and (max-width: 960px) {
  .banner .title h1 {
    color: white;
    font-size: 22px;
    padding: 70px 0% 0% 0%;
  }
}

@media screen and (min-width: 960px) {
  .banner .title h1 {
    color: white;
    font-size: 60px;
    padding: 160px 0% 0% 0%;
  }
}

.banner_bottom{margin-top:-107px;}
.banner_bottom .panel_sec{margin-left:-36px; padding-bottom:20px;}
.banner_bottom .panel{width:33.33%; float:left; text-align:center; padding-left:36px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.banner_bottom .panel img{background-color:#2d5068 !important; border:1px solid #2d5068; border-color:#2d5068 !important; width:107px;  height:107px; -o-border-radius:100%; -moz-border-radius:100%;
	-webkit-border-radius:100%; -ms-border-radius:100%; border-radius:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  box-sizing:border-box;}

.banner_bottom .panel p{text-align:left;  margin-top: 15px; text-align: justify;}
.light-color .both_pnl .left h2{margin-top:39px; margin-bottom: 0px;}

.light-color{background: #f0f5fa;}
.lefttext{width:75%; float:left; padding-right:18px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; text-align: justify;}
.righttext{width:75%; float:right; padding-left:18px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; text-align: justify;}
.leftimage{width:25%; float:left; padding-right:18px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-top:50px;}
.rightimage{width:25%; float:right; padding-left:18px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-top: 50px;}
.light-color .right img,.light-color .left img{width:100%;}
.light-color .right p,.light-color .left p{text-align: justify;}
.light-color .both_pnl .right h2{margin-bottom:0px; margin-top:20px;}
.three_sec{padding:72px 0px 73px;}
.three_sec .section{margin-left:-36px;}
.section .three_pnl{width:33.3333%; float:left; padding-left:36px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.section .three_pnl h3{margin-bottom:0px; margin-top:35px;}
.section .three_pnl p{text-align:justify; margin-top:16px;}
.section .three_pnl .read_more{margin-top:38px;}
.section .three_pnl .read_more a{background:#2d5068; text-align: center; color: #fff; padding: 13px 0px; display: block; font:600 12px 'Poppins', sans-serif; letter-spacing: 1.2px; text-transform: uppercase; border:1px solid #2d5068;}
.section .three_pnl .read_more a:hover{background: #fff; color:#2d5068;}

.review_slide{padding:40px 0px 40px;}
.review_slide img { width: 3%; height: auto; }
.review_slide .review{text-align:center;}
.review_slide .review h4{font: 600 24px 'hind', serif; color: #2d5068; margin-bottom:5px;}
.review_slide .review h5{font:300 16px 'Hind Vadodara', sans-serif; margin-top: 0; color: #5ea0cf;}
.review_slide .swiper-pagination-bullet{background: #fff; box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); -webkit-transition: -webkit-transform 0.2s ease-in-out;    -moz-transition: -moz-transform 0.2s ease-in-out;  -o-transition: -o-transform 0.2s ease-in-out;  transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out;}
.review_slide .swiper-pagination-bullet-active{-webkit-transform: scale(1); -moz-transform: scale(1);  -o-transform: scale(1); -ms-transform: scale(1);  transform: scale(1);}
.owner_detail{background:#2d5068; padding-bottom: 36px;}
.owner_detail .left_image{width:30.3%; float:left; margin-top: -90px; position: relative;  z-index: 9999;}
.owner_detail .right_image{width:30.3%; float:left; margin-top: -90px; position: relative;  z-index: 9999;}
.owner_detail .panel{width:1128px; margin:0px auto;}
.owner_detail .middle_content{ width: 39%; float: left; padding:0px 39px;  color: #fff; box-sizing:border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.owner_detail .middle_content h2{text-align: center;  color: #fff; }
.owner_detail .middle_content p{text-align:justify;}

.contact_section{padding:43px 0px 0px;}
.contact_section .contact_left{width:31.2%; float:left;}
.contact_left a{opacity:0.9;}
.contact_section .contact_left h3{margin-bottom:0px;}
.contact_section .contact_left p{text-align:justify;}
.contact_section .form_section{padding-left:36px; float: left; width:65.4%;}
.contact_section .form_section h3{margin-bottom: 0; margin-top:25px;}
.contact_section .form_section .row.first_row{padding-top: 18px;}
.form_section form{margin-left:-7.5px;}
.contact_section .form_section label{font-size:18px; font-weight:700; margin-bottom: 5px; display: block; font-family: Hind-Bold;}
.contact_section .form_section label span{color:#2d5068;}
.contact_section .form_section input,.contact_section .form_section textarea{width:100%; line-height: 20px; padding: 6px 12px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid #ccc; border-radius: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; font-size: 14px; -webkit-appearance: none;}
.contact_section .form_section .three_col{width:31.4%; float:left; padding: 0px 7px; margin-bottom:15px;}
.contact_section .form_section textarea{min-height:154px;}
.contact_section .form_section .submit{margin-top:0px;}
.contact_section .form_section .submit input[type=submit]{width:auto; padding: 12px 31px; background: #2d5068; font-size:14px; color: #fff; text-transform: uppercase; font-weight: 600; cursor: pointer; border:1px solid #2d5068; -webkit-appearance: none; -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-user-select: none;}
.contact_section .form_section .submit input:hover{background:#fff; color: #2d5068;}



.testimonial{background:#2d5068; background-size:cover; min-height:124px; padding:120px 0px 30px 0px;}
.testimonial .testi_reviews{width:810px; margin: 0px auto;}
.testimonial .testi_reviews ul{margin:0px; padding: 0px; list-style: none;} 
.testimonial .testi_reviews  ul li{color:#fff; font:700 28px/33px 'hind', serif; text-align: center; padding-bottom: 54px;}
.testimonial .testi_reviews ul .swiper-pagination-bullet{-webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2); background: #ffffff; border-radius: 50%; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8);   transform: scale(0.8); -webkit-transition: -webkit-transform 0.2s ease-in-out; -moz-transition: -moz-transform 0.2s ease-in-out; -o-transition: -o-transform 0.2s ease-in-out;    transition: -webkit-transform 0.2s ease-in-out,-moz-transform 0.2s ease-in-out,-o-transform 0.2s ease-in-out,transform 0.2s ease-in-out; }
.testimonial .testi_reviews ul .swiper-pagination-bullet-active{-webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1);}
.testimonial .testi_reviews ul .swiper-pagination-bullet:hover{transform: scale(1);  opacity: 1;}
.testimonial .testi_reviews ul .swiper-container-horizontal>.swiper-pagination-bullets,.review_slide .swiper-container-horizontal>.swiper-pagination-bullets{bottom:-41px;  webkit-transition: bottom 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.2s linear 0.2s; -moz-transition: bottom 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.2s linear 0.2s; -o-transition: bottom 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.2s linear 0.2s; transition: bottom 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.2s linear 0.2s;}
.testimonial .testi_reviews .swiper-container:hover.swiper-container-horizontal>.swiper-pagination-bullets,.review_slide .swiper-container:hover.swiper-container-horizontal>.swiper-pagination-bullets{bottom:10px; }


footer{background:#2d5068; padding:2px 0px;}
footer .copy{color:#fff; font:300 13px 'Hind Vadodara', sans-serif;}
footer .copy p{margin:0px;}
footer .right_pnl {text-align:center;}
footer .right_pnl a{color:#f2f5f8;}
footer .right_pnl a:hover{color:#5ea0cf;}
footer .right_pnl ul{list-style-type: none;}
footer .right_pnl ul li{display: inline-block; padding-right: 5px;}
footer .right_pnl .footermiddle{display: flex; align-items: center;}
@media (max-width:900px){
    footer .tutorassociationlogo {width: 20%; height: 20%; margin: 0 25px;}
    }
@media (max-width:900px){
      footer .tatlerlogo {width: 10%; height: 20%; margin: 0 25px;}
      }
@media (max-width:900px){
        footer .spearslogo {width: 20%; height: 5%; margin: 0 0 0 0;}
        }
    
@media (min-width:901px){
    footer .tutorassociationlogo{width: 12.5%; height: 12.5%; margin: 0 100px 0 100px;}
    }

    @media (min-width:901px){
      footer .tatlerlogo{width: 10%; height: 20%; margin: 0 50px;}
      }
      @media (min-width:901px){
        footer .spearslogo{width: 17.5%; height: 12.5%; margin: 0 0 0 0;}
        }


.back-to-top{position:fixed; background-color:#2d5068; bottom:22px; right:22px; width: 30px; height:30px; border-radius: 2px; transition: opacity 0.2s ease-out; opacity: 0;}
.back-to-top i{color:#fff; line-height: 30px; text-align: center; width: 100%; cursor: pointer;}
.back-to-top.show{opacity: 1;}
/* Tutor Signup */

.top_panel{padding:12px 0px 20px 0px;}
.top_panel h1{margin-bottom:40px;}

/* */
.banner_internal{background-repeat: no-repeat; background-position: center center; background-attachment: scroll; background-size: cover; height:374px;
	background-image: url(../images/5-edit-v4.jpg); position:relative; }
.int_content {padding: 36px 0px}
.int_content h1,.int_content h2{margin: 0px; padding:5px 0px 6px;}
.int_content h1.pad{padding: 0px 0px 20px 36px;}
.int_content h2{font-size: 30px;}
.int_content p{margin: 0px;padding:16px 0px 0px; text-align: justify;}
.int_content .left_pnl{width: 65.66%;float: left;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.int_content .right_pnl{width: 34.33%;float: right;padding: 0px 0px 0px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.int_content .right_pnl h2{font-size:29px;}
.int_content .right_pnl p{padding-top:11px;}
.int_content .left_pnl.extra h2{padding-top: 36px;}
.int_content .right_pnl .color_box{background-color:#f0f5fa;padding:36px 35px; margin-top:20px;}
.int_content .right_pnl .color_box h3{margin:0px; line-height:28px; padding-left:px;}
.int_content .right_pnl .color_box ul{margin:0px; padding:16px 0px 0px 18px;} 
.light-color.white_color{background: #fff;}
.light-color.white_color .both_pnl {padding:36px 0px 45px;}
.light-color.white_color .both_pnl h2{padding:0px; margin:0px;}
.light-color.white_color .both_pnl iframe{margin:20px 0px 2px;width:100%; height: 720px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.review_slide.blue{background-color: #2d5068; color: #fff; padding-top:30px; padding-bottom:30px;}
.review_slide.blue h4{color: #fff !important; margin-top:10px;}
.review_slide.blue h5{color: #fff; padding-top:5px;}
.map iframe{width:100%; height:400px;}
.contact_section.top_pad{padding:32px 0px;}
.contact_section .three-sec{margin-left:-36px;}
.contact_section .three_pnl{width:33.33%;padding:0px 0px 0px 36px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; float:left}
.contact_section .three_pnl h3{margin:23px 0px 0px; padding:0px;}
.contact_section .three_pnl h3.mar-top{margin:0px;}
.contact_section .three_pnl p{text-align:justify; margin-top:14px;}
.contact_section .three_pnl .form_section{width:100%; float:none; padding-left:0px; padding-top:48px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.contact_section .three_pnl .form_section .intl-tel-input{display: block;}
.contact_section .three_pnl .form_section input, .contact_section .three_pnl .form_section textarea{margin-bottom: 15px !important; display: block;}
.process_pnl h2{margin: 0px; padding: 36px; padding-left: 0px;}
.process_pnl .pro_three{width: 33.33%; float: left;padding: 44px 0px 44px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; text-align: center;}
.process_pnl .pro_pnl{margin-left:-36px;}
.process_pnl .pro_pnl p{padding-top:8px;}
.process_pnl .pro_three img{padding-bottom: 20px;}
.vacanci_pnl{background-color: #2d5068;  padding-bottom: 36px;}
.vacanci_pnl .two_pnl{width: 50%; float:left; padding:0px 0px 0px 36px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position: relative;
	margin-top: -144px;z-index:9;}
.int_content.vac_pad{margin-bottom:156px;}
.vacanci_pnl .vac_cont{margin-left: -36px;}
.vacanci_pnl .two_pnl .box{background: #fff;padding: 36px 36px 36px 36px;}
.vacanci_pnl .two_pnl .box h3{padding-top:11px; margin-bottom:16px;}
.vacanci_pnl .two_pnl .box a.btn{text-decoration:none; width:auto; padding:10px 40px; background:#2d5068; font-size:15px;color:#fff; text-transform:uppercase; font-weight:600;
	cursor: pointer;border: 1px solid #2d5068; margin-top:8px; display: inline-block;font-family: Poppins ;letter-spacing: 0.1em;}
.vacanci_pnl .two_pnl .box a.btn:hover{color: #2d5068;background-color: transparent;border-color: #2d5068;}
.vacanci_pnl .two_pnl strong{color:#2d5068;}
.vacanci_pnl .two_pnl p{text-align:justify; margin-top:0px; margin-bottom:31px;}
.banner_internal table{ width:100%; height:100%;text-align: center;}
.banner_internal table h1{font-family:Poppins; font-weight:600; margin:0px; line-height:30px; margin-bottom:18px;}
.banner_internal table span{color: #2d5068;font-family: Poppins;font-weight: 600;letter-spacing: 0.05em;text-transform: uppercase;font-size: 12px;}
.banner_internal table small{color: #2d5068;margin: 0px 14px 0px 14px;font-weight: 300; display: inline;}
.blog_panl{padding: 36px 0px 72px 0px;}
.blog_panl .blog_left{width: 66.66666666666666%; float: left; margin:0 -18px;}
.blog_panl .blog_left .blog_two{width: 375px; padding:0 18px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;margin-top: 36px;}
.blog_panl .blog_left .blog_two a.signplus{display:block; position: relative;}
.blog_panl .blog_left .blog_two a.signplus:before{content:"";display: block; position:absolute;top:0; left: 0; width:100%; height:100%; z-index: 9999; background: rgba(255,255,255,0.4); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; opacity: 0; color: #fff;}
.blog_panl .blog_left .blog_two a.signplus:after{; font:normal normal normal 14px/1 FontAwesome; position: absolute;top: 50%;  width: 15px; height: 17px; left: 50%;    font-size: 20px;  margin-left: -7.5px;  margin-top: 8.5px; color: #fff; opacity: 0; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.blog_panl .blog_left .blog_two a.signplus:hover:after{opacity:1; -webkit-transition-delay: 150ms;  -moz-transition-delay: 150ms;  -o-transition-delay: 150ms;  transition-delay: 150ms;}
.blog_panl .blog_left .blog_two a.signplus:hover:before{opacity: 1;  -webkit-transition-delay: 150ms;  -moz-transition-delay: 150ms;  -o-transition-delay: 150ms;  transition-delay: 150ms;}
.blog_panl .blog_left .blog_two .blog_cont{border: 1px solid #eaeaea;padding: 36px 36px 36px 36px;-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);}
.blog_panl .blog_left h3{margin: 0px; padding: 0px; line-height: 28px;}
.blog_panl .blog_left p{text-align: justify;}
.blog_panl .blog_left .date{padding: 18px 0 0;color: #2d5068;font-size: 12px;font-weight: 600;}
.blog_panl .blog_left .date span{padding-right: 10px;}
.blog_panl .blog_left .date .fa{margin-right: .3em;}
.blog_panl .blog_left .blog_two .blog_cont a.blog_btn{font-weight: 600;font-family: Poppins;letter-spacing: 0.1em;text-transform: uppercase;font-size: 12px;}
.blog_panl .blog_left .blog_two .blog_cont a.blog_btn .fa{margin-left: 9px;}
.blog_panl .blog_left .blog_two .blog_cont hr{margin-top: 18px;margin-bottom: 18px;border-color: #eaeaea;border-top-width: 1px;border-style: solid; height: 0}
.blog_panl .blog_left .blog_two .blog_cont .autor img{width: 20px;height: 20px;vertical-align: middle;display: inline-block;position: relative;border-radius: 50%;}
.blog_panl .blog_left .blog_two .blog_cont .autor span{color: #2d5068;font-weight: 600;font-size: 12px;margin: 0px 0px 0px 9px;vertical-align: middle; displai:inline-block;}
.blog_panl .blog_left strong{color: #2d5068;}
.blog_panl .blog_right{width: 33.33333333333333%; float: right; padding:36px 18px 0px 18px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.blog_panl .blog_right .search{position: relative;}
.blog_panl .blog_right .search input[type="search"]{ width: 100%; border: 1px solid #eaeaea;padding-right: 36px;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
-webkit-appearance: none;border-radius: 2px; padding: 13px 36px 13px 15px;display: block;font-size: 14px;line-height: initial;font-family: 'Hind', sans-serif; font-size: 14px; }
.blog_panl .blog_right .search i.fa {position: absolute;right: 1.35em;top: 50%;margin-top: -9px;font-size: 14px; font-weight: normal; outline: none;}
.blog_panl .blog_right .search input[type="search"]:focus{border-color: #2d5068; outline: none;}
.blog_panl .blog_right .widget{margin: 54px 0px 0px 0px;}
.blog_panl .blog_right .widget h3{font-family: Poppins;font-weight: 600;letter-spacing: 0.05em;text-transform: uppercase;font-size: 12px;word-break: break-word;padding: 0px 0px 27px 0px;
margin: 0px 0px 27px 0px;border-bottom-width: 1px;border-bottom-style: solid;margin-top: 0;border-color: #eaeaea;line-height: normal;}
.blog_panl .blog_right .widget ul{margin: 0px 0px 0px 18px; padding: 0px;}
.blog_panl .blog_right .widget ul li{padding: 0px 0px 5px 0px;margin: 0px; font-size: 14px;color: #2d5068; line-height: 24.5px; font-weight: 500}
.blog_panl .blog_right .widget ul li a{color: #2d5068;}
.blog_panl .blog_right .widget ul li a:hover{color: #2d5068;}
.blog_panl .blog_right .widget.extra_sty ul{margin: 0px;}
.blog_panl .blog_right .widget.extra_sty ul li{list-style:none}
.blog_panl .blog_right .widget.extra_sty ul li a:before{font-family: "FontAwesome";content: "\f105";margin-right: 12px;margin-top: 3px;}
.pagination{border-top: 1px solid #eaeaea;background-color: #f7f7f7;padding: 27px 0px 27px 0px;}
.pagination a{font-weight: 600;font-family: Poppins;letter-spacing: 0.1em;text-transform: uppercase;font-size: 12px;color: #78828c; cursor: context-menu}
.pagination .prev{width:50%; float:left}
.pagination .active{color: #2d5068; cursor: pointer}
.pagination a.active:hover{color: #2d5068} 
.pagination .next{float: right;width:50%;text-align: right;}
.pagination .fa{font-size: 18px;}
.pagination .prev .fa{margin-right: 14px;}
.pagination .next .fa{margin-left: 14px;}
.blog_panl .blog_left .social{padding:30px 0px; border-bottom:1px solid #eaeaea;border-top:1px solid #eaeaea; margin:72px 0px 0px;text-align: center;} 
.blog_panl .blog_left .social a{ margin-right: 2px; display:inline-block;width: 24px;height: 24px;line-height: 24px;}  
.blog_panl .blog_left .social a:hover{color:#d7473d}
.blog_panl .blog_left.extra_pad{padding-top:10px;}
.blog_panl .blog_left .comment{padding-top:36px;}
.blog_panl .blog_left .comment h3{font-family: Poppins;font-weight: 600;letter-spacing: 0.05em;text-transform: uppercase;font-size: 12px;}
.blog_panl .blog_left .comment .form input,.blog_panl .blog_left .comment .form textarea{width:100%;background-color: #ffffff;display: block;font-size: 14px;
line-height: initial;margin: 9px 0px 0px 0px;padding: 10px 15px 10px 15px;border-width: 1px;border-style: solid;border-radius: 2px;font-weight: normal;border: 1px solid #eaeaea; outline: none;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.blog_panl .blog_left .comment .form input:focus,.blog_panl .blog_left .comment .form textarea:focus{border-color: #2d5068; outline: none;}
.blog_panl .blog_left .comment .form label{color: #2d5068;font-weight: 600;margin: 18px 0px 5px 0px;display: block;}
.blog_panl .blog_left .comment .form textarea{ height:206px;}
.blog_panl .blog_left .comment .form input[type="submit"]{text-align: center;width: auto;background-color: #f7f7f7;font-weight: 600 ;font-family: Poppins;letter-spacing: 0.1em;text-transform: uppercase; font-size: 12px; color:#2d5068; padding: 13px 31px 13px 31px;margin: 27px 0px 0px 0px;}
.banner_internal.blog{position: relative; box-shadow: inset 10000px 0 0 0 rgba(0, 0, 0, 0.4);}
.fix{position:absolute; width:100%; bottom:15px; text-align:center; font-size:24px;}
.blog_panl .blog_right.extra_right_pad{padding: 36px 0px 0px 36px;}
.form-group{margin-bottom: 15px;}

.totor_form{background-color:#f0f5fa; padding:57px 0px;}
.totor_form form{margin-left:-7.5px;}
.totor_form .next_more input[type=button]{margin-left:7.5px; margin-top:-4px;}
.totor_form h2{padding-bottom:0px; margin-bottom:20px;}
.caldera-grid hr {margin-top: 20px; margin-bottom: 20px;  border: 0; border-top: 1px solid #eee;}
.caldera-grid label {display: inline-block; max-width: 100%;  margin-bottom: 5px;  font-weight: 700; font-size: 16px; font-family: Hind-Bold;}
.field_required {color: #2d5068 !important;}
.caldera-grid .form-control {width: 100%; height: 34px; padding: 6px 12px; background-color: #fff; border: 1px solid #ccc; border-radius: 2px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.caldera-grid .form-group {margin-bottom: 15px;}
.caldera-grid .form-control input,.caldera-grid select{-webkit-appearance:none;}
.caldera-grid select{background: url(../images/select-arrow.png) 100% center no-repeat; background-size: 45px 20px;}
.caldera-grid input[type=checkbox] {-webkit-appearance: checkbox; width: 18px; height: 18px;}
.caldera-grid .checkbox-inline+.checkbox-inline{margin-top: 0; margin-left: 10px;}
.caldera-grid label.checkbox-inline{font-weight:300;}
.caldera-grid .form-control, .caldera-grid output {font-size: 14px; line-height: 1.42857143; color: #555;  display: block;}
.style-light .btn-default:not(.btn-hover-nobg):hover{color: #2d5068 !important; background-color: transparent !important;  border-color: #2d5068 !important;}
.col-sm-4 {width: 33.33333333%; float: left; padding-left: 7.5px; padding-right: 7.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.col-sm-6 {width: 50%; float:left; padding-left: 7.5px; padding-right: 7.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.col-sm-12 {width: 100%; float:left; padding-left: 7.5px; padding-right: 7.5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.caldera-grid *, .caldera-grid :after, .caldera-grid :before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.next_more{}
.next_more input[type=submit],.next_more button{font-size: 14px; line-height: 1.42857143; border-radius: 2px; color: #ffffff; background-color: #2d5068; border-color: transparent; padding:13px 31px;     border-style: solid; text-transform:uppercase; font-weight:700; letter-spacing:0.1em; cursor:pointer; font-weight: 600; font-family: Poppins; border-width: 1px; -webkit-appearance:none; -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-user-select: none;}
.next_more input[type=submit]:hover,.next_more button:hover{background:none; border-color:#2d5068; color:#2d5068; -webkit-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);}

#blog .pagination{text-align:center; margin-top:20px;}
#blog .pagination span,#blog .pagination a{margin:0 5px; font-weight: 600; font-family: Poppins; letter-spacing: 0.1em; text-transform: uppercase; font-size: 12px; color: #78828c;}
#blog .pagination a{cursor:pointer;}
.light-color.tutoring .left{padding:60px 18px 49px 0px;}
.light-color.tutoring .both_pnl{margin-left:0px;}
.light-color.tutoring .left h2{margin:0px;}

.tutoring{margin-top:2px;}
.tutoring .left p{margin-top:16px;}

.form-section{ display:none;}
.form-section.current {
    display: inherit;
}

.form-section textarea{ height:auto !important;}
.col-sm-3{  width:25%; float:left; box-sizing:border-box; -webkit-box-sizing:border-box; -webkit-box-sizing:border-box;}
.file_pnl input{padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

